@font-face {
  font-family: SF;
  src: url('/media/San Francisco.ttf') format("truetype");
}

* {
    font-family: "SF", Helvetica, sans-serif;
    
}

body {
    background-color: grey;
    color: white;
    font-size: 30px;
}

h1 {
    color: powderblue;
}