@font-face {
  font-family: SF;
  src: url('/templates/San Francisco.ttf') format("truetype");
}

* {
    font-family: "SF", Helvetica, sans-serif;
    font-size: 30px;

}

body {
    background-color: grey;
    color: white;
}

p {}

h1 {
    color: powderblue;
}